<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% load wrap_filter %} {% load static %} {% load auth_extras %} {% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'foto/link.ico'%}" />
    <title>Tampilan gambar dalam keluhan</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  </head>

  <body>
    <h3 style="-webkit-text-fill-color: transparent; -webkit-text-stroke: 1px black;"> Informasi dari keluhan </h3>
    <form class="form-inline my-2 my-lg-0 justify-content-end" method="POST" action="{% url 'search' %}" >
      {% csrf_token %}
      <input class="form-control mr-sm-2 col-sm-2" type="search"placeholder="cari judul dari keluhan anda...." aria-label="Search" name="pencarian">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">go</button>
    </form> <br>  

      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Judul</th>
                <th>Rincian</th>
                <th>Sebelum</th>
                <th>Sesudah</th>
                <th>Deskripsi</th>
              </tr>
            </thead>
            <tbody>
              {% for d in page_obj.object_list %}
              <tr>
                <th style="width:150px;text-wrap:break-word;">{{d.file_name|judul_wrap}}</th>
                 
                <th style="width:700px;text-wrap:break-word;">{{ d.pembahasan|text_wrap }}</th>
                <th><a href="{{d.my_file.url}}"><img src="{{d.my_file.url}}" style="height:100%; width: 30%" href="{{d.my_file.url}}" /></a>
                </th>
              {% if d.my_file2 %}  
              <th><a href="{{d.my_file2.url}}"><img src="{{d.my_file2.url}}" style="height:100%; width: 30%" href="{{d.my_file2.url}}" /></a></th>
              {% else %}
              <th><img src="{% static 'foto/images/default.png' %}" style="height:100%; width: 50%" /></th>
              {% endif %}
                <th>{{d.get_status_display}}</th>
                {% if request.user|has_group:"Teknisi" %}
                <th>
                <a href="{% url 'update_informasi_keluhan' d.ids %}" class="btn btn-outline-update">Update </a>
                </th>
              </tr>
            
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <center>
        <div style="justify-content:left;"
        {%if page_obj.has_previous %} 
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">Sebelumnya </a> {# link to the prev page #}
        </li> </ul> </div>
            {% endif %} 
<span>ini adalah halaman ke {{page_obj.number}} </span>
<div style="justify-content: end;"
        {%if page_obj.has_next %} {# whether the next page exists #}
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">Selanjutnya </a> {# link to the next page #}
        {% endif %}
          </div>
    </center>
  </body>
</html>

{% endblock content %}
