{% extends 'base.html' %} {% load static %} {% load auth_extras %}
 {% block content %}
 <center>
    {% if hasil %}
       <h3> beberapa kata kunci terkait : {{ cari }} </h3>
      <br>
      <form class="form-inline my-2 my-lg-0 justify-content-end" method="POST" action="{% url 'search_biodata' %}" >
        {% csrf_token %}
        <input class="form-control mr-sm-2 col-sm-2" type="search"placeholder="cari user...." aria-label="Search" name="cari">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">go</button>
      </form><br>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>User</th>
          <th>Email</th>
          <th>Alamat</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for hasil in hasil %}
        <tr>
          <th>{{forloop.counter}}</th>
          <th>{{hasil.user}}</th>
          <th>{{hasil.email}}</th>
          <th>{{hasil.alamat}}</th>  
          {% if request.user|has_group:"Operator" %}
            <td>
                <a href="{% url 'updatebio' hasil.id %}" class="btn btn-warning btn-sm">Edit </a>
                {% csrf_token %}

                </td>
                {% endif %}
      </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
    <h4> tidak ada hasil pencarian yang bisa kami temukan</h4> 
    <h4> silahkan untuk melakukan pencarian ulang </h4>
    <center>
    <form class="form-inline my-2 my-lg-0 justify-content-center" method="POST" action="{% url 'search_biodata' %}" >
      {% csrf_token %}
      <input class="form-control mr-sm-2 col-sm-2" type="search"placeholder="cari keluhan anda...." aria-label="Search" name="cari">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">go</button>
    </form>
  </center>
    {% endif %}

 </center>{% endblock content %}

